<h1 class="title">詳細画面</h1>

<div>
    <div>
      タイトル：<%= @memos[0]['title'] %>
    </div>
    <div>
      本文：<%= @memos[0]['content'] %>
    </div>
    </ul>
</div>
<form method="post" action="  ">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="削除">
</form>
<a href="/memos">トップへ戻る</a>
<a href=" <%= @edit %>">編集</a>
